@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#container {
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
    text-align: start;
    padding: 16px;
    border-radius: 8px;
}

#titulo-principal {
    font-size: 1.9rem;
}

#footer-titulo {
    font-size: 1.9rem;
    color: #fff;
}

#input-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.6rem;
}

.input {
    font-size: 1.4rem;
    border-radius: 5px;
    border: 1px solid #000000;
    outline: none;
    padding: 10px;
}

.erro {
    text-align: center;
    color: #e71f1f;
    font-size: 1.4rem;
    font-weight: 400;
}

.sucesso {
    text-align: center;
    color: #31ab29;
    font-size: 1.4rem;
    font-weight: 400;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.4rem;
    margin-top: 5px;
    text-align: start;
    width: 12%;
    cursor: pointer;
}
.butto {
    background-color: #0668fc;
    border: none;
    padding: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 1.1rem;
    
}

.button:hover{
    transform: scale(1.04);
}

#titulo-secundario{
    font-size: 1.9rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#container-list{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 1100px;
    padding: 16px;
    border-radius: 8px; 
    gap: 10px;
}

#list{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    width: 300px;
}

#div-msg{
    display: flex;
    align-items: center;
    gap:50%;
}

img{
    border-radius: 8px;
}

#div-list{
    display: flex;
    justify-content: space-evenly;
}
#copyright {
    text-align: center;
    color: #fff;

}
.usersDiv {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.6rem;
}

.hidden {
display: none;
}

#userImg {
    border-radius: 100%;
    width: 8rem;
    height: 8rem;
}

h3 {
    text-align: justify;
    text-align: left;
}

#usercardDelta{
    border: solid 1px black;
}